$input-bg: transparent;
$input-color: white;
$input-border-radius: 0;
$btn-border-radius: 0;
$gray-900: #03001C;
$purple: #301E67;
$green: #B6EADA;
$blue: #5B8FB9;
$primary: $blue;
$secondary: $purple;
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
